#lol{
width:500px;
height:300px;
float:left;
}
.background{
height:1000px;
width:1900px;
background-color:pink;
}
.title{
color:skyblue;
text-align:center;
}
#box{
height:100px;
width:300px;
background-color:yellow;
}
#paragraph{
width:800px;
Color:black;
text-align:center;
float:right;
font-size:20px;
}
#box2{
height:400px;
width:900px;
background-color:skyblue;
float:right;
}